    @import '../../sass/mixins';
    @import '../../sass/variables';
    .header-container {
        width: 100%;
        height: 100%;
    }
    
    .header-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-height: $header-height;
    }
    
    .title {
        position: relative;
        display: flex;
        z-index: 8;
        left: -170px;
    }
    
    .name {
        color: white;
    }
    
    .about-container {
        display: flex;
        justify-content: flex-end;
        height: $tagline-height;
        margin: 0 2em;
    }
    
    .about-content {
        background-color: white;
        text-align: justify;
        width: $text-content-width;
    }
    
    #circle {
        position: relative;
        background-image: url(../../assets/me.png);
        background-size: 300px;
        background-attachment: fixed;
        background-position-y: center;
        width: 400px;
        height: 400px;
        left: 36px;
    }
    
    .divider {
        float: right;
    }