.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.title {
    position: absolute;
    display: flex;
    z-index: 8;
}

.name {
    color: white;
}

#circle {
    position: relative;
    background-image: url(../../assets/me.png);
    background-size: 250px;
    left: -290px;
    background-attachment: fixed;
    background-position-y: bottom;
}