.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.title {
    display: flex;
}

/* .name {
    color: black;
}

.tagline {
    color: black;
    font-weight: lighter;
} */