.about-container {
    width: 75%;
    margin: auto;
}

.about-content {
    padding: 0 132px;
    margin: 3em auto 0;
    background-color: white;
}

#education-separator {
    background-image: url(../../assets/neu.png);
}