<div class="about-container">
    <div class="about-content">
        <p>Hello! My name is Maya and I'm a 20-year-old student from Upstate New York living in Boston, Massachusetts. I am a rising third-year at Northeastern University pursuing my Bachelor's in Computer Science, and my topics of interest are web development
            and software engineering. Learn more about me:
        </p>
        <div class="divider"></div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin et lacus vel fermentum. Nullam eget ipsum ut turpis finibus pulvinar. In malesuada arcu eget risus pretium, sit amet rhoncus quam pulvinar. Donec dictum lacus arcu, quis porttitor
            elit vulputate id. Praesent efficitur nisl dapibus, rhoncus dolor at, interdum ante. Nunc nec dolor vel eros convallis ultrices eu nec turpis. Aliquam tristique, diam in tempor interdum, nulla erat tempus risus, quis semper nunc tellus a ante.
            Proin at justo efficitur, aliquet diam sit amet, accumsan sapien. Vestibulum posuere accumsan lorem, vel aliquet felis. Pellentesque molestie elit sed viverra tempor. Donec posuere imperdiet ullamcorper. Nullam sagittis suscipit urna eget
            venenatis. Nam in convallis elit, ut viverra magna. Fusce iaculis leo arcu, ac pretium neque eleifend ut. In eget imperdiet ante. Pellentesque ullamcorper porttitor sodales. Ut ut metus non tortor porttitor volutpat quis elementum ipsum. Aenean
            rutrum tempor nisl, dictum cursus ex pretium vel. Donec ultrices interdum velit, a accumsan urna accumsan ut. Phasellus tincidunt vestibulum arcu ac ultricies. Maecenas sed orci arcu. Mauris porttitor pharetra suscipit. Vivamus ut nulla et
            enim faucibus blandit quis eget nulla. Duis sollicitudin nec est sed luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam et luctus diam. Duis ullamcorper purus sit amet lectus hendrerit rutrum. Duis commodo eget leo
            non ultricies. Vivamus sollicitudin massa sed volutpat consequat. Phasellus egestas efficitur nisi ac molestie. Suspendisse potenti. Nullam tincidunt consectetur dui quis bibendum. In hac habitasse platea dictumst. Etiam vehicula efficitur
            est, sit amet accumsan ante convallis ut. Vivamus ac est massa. Vivamus hendrerit sem sit amet ligula porttitor, consequat lobortis quam laoreet. Phasellus facilisis consectetur leo nec blandit. Duis dignissim lacinia nulla eget malesuada.
            Nulla volutpat felis id lobortis facilisis. Integer imperdiet est in blandit molestie. In sed quam tellus. Donec viverra felis sapien, tincidunt interdum neque dignissim vel. Sed posuere fermentum nisi, non tristique est lacinia vitae. Maecenas
            magna massa, semper quis tristique eget, placerat vel purus. Curabitur imperdiet eros vel tortor dignissim semper. Nam ornare justo ut nisl ullamcorper, quis mattis dui rhoncus. Sed id tortor blandit, vulputate odio interdum, dignissim dolor.
            Morbi ac arcu nisl. Aenean eget diam dapibus, interdum eros ut, hendrerit purus. Ut eget aliquam enim. Pellentesque metus lectus, elementum quis cursus vitae, lobortis eget tellus. Aliquam vitae nisl sit amet nibh mollis auctor at sit amet
            ex. Duis nec enim bibendum, iaculis urna quis, pharetra ipsum.
        </p>
    </div>
</div>