@import '../../sass/mixins';
@import '../../sass/variables';

.about-container {
    display: flex;
    justify-content: flex-end;
    margin: 3em 2em;
}

.about-content {
    background-color: white;
    text-align: justify;
    width: $text-content-width;
}