<div appParallax [ratio]="0.92" class="section-header">
    <p class="section-title">projects</p>
    <div class="divider"></div>

    <div class="mini-menu-wrapper">
        <div class="mini-menu-items">
            <p>academic</p>
            <p>personal</p>
        </div>
    </div>
</div>

<div class="projects-description">
    <div class="ex">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non aliquet nunc. Aenean vel elementum erat, a luctus risus. Nullam interdum, velit at imperdiet auctor, ante mi lacinia justo, a eleifend nulla eros ut lacus. Phasellus dignissim
            tincidunt tortor a facilisis. Vestibulum sit amet odio sed libero vestibulum hendrerit at non velit. Sed vulputate diam tellus, et viverra sem efficitur vitae. Phasellus mattis ornare lectus quis mattis. Donec metus quam, efficitur vel laoreet
            ut, sollicitudin eu nibh. Mauris urna ligula, tincidunt a auctor nec, vulputate ut sapien. Nullam eu leo finibus, elementum velit sit amet, consequat magna. Etiam ornare ipsum vel enim egestas venenatis. Quisque ut interdum urna, non ultrices
            purus. Nulla vulputate hendrerit nibh lobortis pharetra. Proin augue quam, aliquet vitae eleifend id, maximus ac mauris. Duis porta nibh vitae ante sodales, ac dapibus ex viverra. Nam hendrerit hendrerit nibh vitae imperdiet. Etiam tristique
            posuere condimentum. Integer rutrum aliquam urna non consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur feugiat quis lacus eget egestas. Mauris cursus eros ut ornare rutrum. Sed tincidunt
            est eu mi mattis feugiat. Nulla pulvinar orci vel maximus condimentum. Proin ac convallis lorem. Nulla facilisi. Morbi posuere ligula velit. Sed sit amet felis vitae nisl dictum tincidunt. Maecenas arcu arcu, mattis scelerisque elementum id,
            scelerisque et odio. Praesent consequat sodales hendrerit. Etiam eu elementum ex. Integer cursus tellus in malesuada pulvinar. Maecenas lobortis, lorem rutrum condimentum semper, tellus leo malesuada nisi, id pellentesque nunc augue nec turpis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque lorem ipsum, id lobortis libero euismod in. Quisque viverra facilisis faucibus. Mauris scelerisque sit amet sem sit amet tincidunt. Cras vel tortor mauris. Proin pellentesque
            finibus ligula ut imperdiet. Nulla rhoncus lorem a rutrum euismod. Sed consequat tincidunt magna quis rhoncus. Aliquam pulvinar euismod tortor sit amet mollis. Etiam quis placerat erat. Donec eleifend in est eu convallis. Ut fringilla fermentum
            tellus. Fusce mollis suscipit massa ut porttitor. Aliquam semper ornare efficitur. Maecenas pretium consectetur erat et tincidunt. Vestibulum justo sapien, molestie et ullamcorper a, commodo vel purus. Donec vestibulum aliquam lacus, efficitur
            pretium elit scelerisque et. In lorem ligula, dignissim fringilla lectus eu, suscipit sodales urna. Ut a lacus sit amet diam eleifend pharetra eget gravida augue. Curabitur ut velit enim. Quisque porta enim sed neque mattis tristique. Mauris
            tristique non nulla sollicitudin malesuada. Aliquam sagittis nunc in lacus iaculis, eget ullamcorper est aliquet. Sed id euismod eros.
        </p>
    </div>
</div>