<div class="app-container">
    <div class="nav-container">
        <ul class="nav">
            <li class="nav-item" *ngFor="let page of pages"
                                (click)="setActive(page)">
                <a class="link" [class.active]="page === activePage" href="#">{{page}}</a>
            </li>
        </ul>
    </div>
    <div class="app-header">
        <app-header></app-header>
    </div>
    <div class="app-content">
        <app-about></app-about>
    </div>
    <div appParallax [ratio]="0.7" class="circle-fixed" id="circle2"></div>
</div>