@import '../sass/mixins';
@import '../sass/variables';

p {
    font-family: Lato;
}

.app-container {
    background-color: white;
    margin: auto;
    padding-bottom: 64px;
}

.app-container:before {
    content: '';
    float: left;
    height: 100%;
    width: 100%;
}

app-header {
    width: 100%;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 20em;
}

.app-content {
    overflow: visible;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    margin: auto;
}

.app-content:after {
    content: '';
    display: block;
    clear: both;
}

.nav-container {
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: flex-end;
    height: 6em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.nav-item {
    padding: 0;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: gray;
    font-size: 1.2em;
    line-height: 1em;
}

.nav-item .active {
    color: black;
}

#circle2 {
    z-index: 2;
    top: 120%;
    right: 100px;
    background-image: url(../assets/neu.png);
    background-size: 250px;
}