/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: black;
    font-family: 'Nunito Sans';
}

p, .link {
    font-size: 20px;
}

.circle {
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}