/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito Sans');
@import './sass/mixins';
@import './sass/variables';

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: black;
    font-family: 'Nunito Sans';
}

p, .link {
    font-size: 20px;
}


.separator {
    min-height: 100px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    background-color: lightblue;
    background-attachment: fixed;
    background-position: center;
}