/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import './sass/mixins';
@import './sass/variables';
html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: black;
    font-family: 'Open Sans';
    font-weight: lighter;
}

p,
.link {
    font-size: 20px;
}

.circle-fixed {
    @include circle-fixed;
}

.circle-unfixed {
    @include circle-unfixed;
}

.divider {
    @include divider;
}